<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add TODO</title>
</head>
<body>
<form>
    <table>
        <tr><td>Title</td><td><input type="text" size="100" name="title"></td></tr>
        <tr><td>Notes</td><td><textarea name="notes" rows="4" cols="83"></textarea></td></tr>
        <tr><td>Due Date</td><td><input type="date" name="date"></td></tr>
        <tr><td>Priority</td><td><select>
        <option value="high">HIGH</option>
        <option value="medium">MEDIUM</option>
        <option value="low">LOW</option>
    </select></td></tr>
        <tr><td></td><td><input type="submit" value="Add"><br><br></td></tr>
    </table>


</form>
</body>
</html>