<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create TODO</title>
    <br>
    <br>
    <br>
    <div style="text-align: center;">
    <form action="{% url 'list' %}">
        Name: <input type="text" name="name"><br>
        Priority: <select name="priority">
                    <option value="high">high</option>
                    <option value="medium">medium</option>
                    <option value="low">low</option>
                </select><br>
        <input type="submit" value="Create TODO">
    </form>
    </div>
</head>
<body>

</body>
</html>